#pricePage
{
    padding: 2%;
    background: rgba(233, 237, 240, 0.42);
    overflow: auto;
}
#pricePage .form-control
{
    width: 25%;
    padding: 0px 12px;
    font-size: 1.3em;
    margin-right: 3%;
}
#pricePage span
{
    display: block;
    float: left;
    font-size: 1.3em;
    margin-right: 3%;
}
.tablesorter-dropbox .header, .tablesorter-dropbox thead tr, .tablesorter-dropbox .tablesorter-headerRow
{
    background: none;
    border: none;
}
.tablesorter-dropbox th, .tablesorter-dropbox thead td, .tablesorter-dropbox tfoot th, .tablesorter-dropbox tfoot td
{
    background: rgba(168, 218, 226, 0.33);
    border-color: #49B1C2 #e7f2fb #49B1C2;
    color: #6B6B6B;
}
form
{
    padding: 2%;
}
form input[type=file]
{
    display: inline-block !important;
}
ul.ui-autocomplete {
    z-index: 1100;
}