#requests
{
    padding: 2%;
    background: rgba(233, 237, 240, 0.42);
    overflow-x: auto;
}
button.btn.btn-default.btn-lg:hover{
    background: #49B1C2;
    color: white;
}
.tablesorter
{
    overflow: auto;
}
.tablesorter-dropbox .header, .tablesorter-dropbox thead tr, .tablesorter-dropbox .tablesorter-headerRow
{
    background: none;
    border: none;
}
.tablesorter-dropbox th, .tablesorter-dropbox thead td, .tablesorter-dropbox tfoot th, .tablesorter-dropbox tfoot td
{
    background: rgba(168, 218, 226, 0.33);
    border-color: #49B1C2 #e7f2fb #49B1C2;
    color: #6B6B6B;
}
.input-daterange
{
    width: 80%;
    float: left;
    margin-right: 1%;
}
#popover-target label
{

}
.popover
{
    width: 35%;
    top:0 !important;
}
.arrow
{
    top:7% !important;
}
input[type=checkbox].prn-cbox {
    width: 20px;
    height: 20px;
}
.form-control
{
    border: 2px solid #ddd;
}
.pager2 span
{
    cursor: hand;
}