/* Fixed column scroll bar spacer styling */
.tablesorter-scroller-bar-spacer {
    background: #eee;
}
/* add border to right side (LTR pages) of fixed column */
.tablesorter-scroller-fixed:after {
    content: '';
    border-right: 1px solid #444;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    /* set to zero for non-jquery ui themes; use "left" here for RTL pages */
    right: 0;
    /* match the margins set to the table to keep the border the same height as the table */
    margin: 10px 0 15px;
}

/* using-x-theme added by the demo code */
.using-jui-theme .tablesorter-scroller-fixed:after {
    /* set to -2px for jquery ui themes; use "left" here for RTL pages */
    right: -2px;
}
.using-green-theme .tablesorter-scroller-fixed:after,
.using-black-ice-theme .tablesorter-scroller-fixed:after,
.using-dark-theme .tablesorter-scroller-fixed:after,
.using-dropbox-theme .tablesorter-scroller-fixed:after {
    /* match the margins set to the table to keep the border the same height as the table */
    margin: 0;
}

/* OPTIONAL CSS! */
#fixed-columns-table tbody td {
    /* force "Notes" column to not wrap, so we get a horizontal scrolling demo! */
    white-space: nowrap;
    /* Add min column width, or "Index" column filter gets too narrow to use */
    min-width: 60px;
}